#DashboardContainer{
	border: 2px solid black;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: #eef4fa;	
}

.Header{
	border: 2px dotted black;
	margin-top: 1rem;
	font-size: 2.5rem;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}

.signOutBtn{
	position: absolute;
	right: 1rem;
	border: 2px solid black;
	border-radius: 8px;
	font-size: .8rem;
	padding: 2px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.signOutBtn:hover{
	background-color: coral;
}

.MainContent{
	border: 2px dotted black;
	/* height: 100vh; */
	margin-top: 1rem;
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
}

.AddPanel{
	display: flex;
	flex:1;
	flex-direction: column;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #d0f0fd ;

	.AddHeader{
		font-weight: bold;
		padding-bottom: 3rem;
		font-size: 2.5rem;
		align-self: center;
	}

	.AddLabel{
		font-size: 1.8rem;
	}

	.AddInput{
		border: 2px solid black;
		border-radius: 5px;
		height: 30px;
		margin: 5px 0;
	}

	.ItemBtn{
		width: 120px;
		height: 30px;
		font-weight: bold;
		border: 2px solid black;
		border-radius: 10px;
		align-self: center;
		margin-top: 10px;
		cursor: pointer;
	}

	.scrapeMsg{
		font-weight: bold;
		font-size: 2rem;
		align-self: center;
		margin-top: 10px;
	}

}

.TrackPanel{
	flex:1;
	padding-top: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: #c7f9e9;
	display: flex;
	flex-direction: column;

	.TrackHeader{
		font-weight: bold;
		padding-bottom: 3rem;
		font-size: 2.5rem;
		align-self: center;
	}
}

.VerticalLine{
	width: 3px;
	background-color: black;
}
