.ItemContainer{
	width: 100%;
	min-width: 300px;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 5px;
	align-self: center;
	padding: 10px;
}

.FirstItem{
	display: flex;
	justify-content: center;
	align-items: center;
}

.DeleteBtn{
	font-size: 1rem;
	border: 1px solid black;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.8s ease;
}

.DeleteBtn:hover{
	background-color: coral;
}